<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="rdbms" verbose="1" >
    <test name="Coordination event flow rdbms" parallel="false">
        <classes>
            <class name="org.wso2.carbon.cluster.coordinator.rdbms.test.CoordinatorConfigDefaultValuesTestCase"/>
            <class name="org.wso2.carbon.cluster.coordinator.rdbms.test.CoordinatorConfigDatasourceTestCase"/>
            <class name="org.wso2.carbon.cluster.coordinator.rdbms.test.CoordinatorConfigGroupIdTestCase"/>
            <class name="org.wso2.carbon.cluster.coordinator.rdbms.test.CoordinatorConfigEmptyValuesTestCase"/>
            <class name="org.wso2.carbon.cluster.coordinator.rdbms.test.CoordinationEventFlowTestCase"/>
        </classes>
    </test>
</suite>